<!DOCTYPE html>
<head>
        <style>
            * {
                margin: 10px;
            }
    
            body {
                border: solid gray;
                height: 300px;
            }
    
            h4 {
                width: 30%;
                display: inline-block;
            }
    
            input {
                width: 40%;
                display: inline-block;
            }
    
            div {
                background-color: white;
                width: 80%;
                margin: auto;
                border: solid gray;
            }
    
            a.but {
                margin-left: 45%;
                width:20%;
                height: 50px;
                border: black solid;
                background-color: aqua;
                margin-top: 20px;
            }
        </style>
    </head>
    
    <body>
            <div>
                <h2>@TempData["rand"]
                </h2>
            </div>
        <a href="" class="but">GENERATE</a>
    </body>