@model dojosurvey.Models.Response
<!DOCTYPE html>
<head>
        <style>
            * {
                margin: 10px;
            }
            body {
                border: solid gray;
                height: 300px;
            }
            h4 {
                width: 30%;
                display: inline-block;
            }
            input {
                width: 40%;
                display: inline-block;
            }
            div {
                background-color: white;
                width: 80%;
                margin: auto;
            }
            input.but {
                margin-left: 50%;
                width: 10%;
            }
         </style>
</head>
    
<body>
    @Model.email
    <br>
    @Model.loc
    <br>
    @Model.lang
    <br>
    @Model.com
    <br>
    <a href="/">Go back ya scrub</a>
</body>
