<!DOCTYPE html>
<head>
    <link rel="image" href="~/pup.gif"/>
        <style>
            * {
                margin: 10px;
            }
            img{
                width: 30%;
            }
            
        </style>
    </head>
    
    <body>
        @ViewBag.Quotes
    </body>