<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/styleind.css"/>
    </head>
    <body>
        <p>
            <a href="/">Home</a> | <a href="/projects">Projects</a> | Contact
        </p>
        <h1>Hello Contact etc</h1>
        <form>
           name: <input type="text">
           email: <input type="text"> 
           Message: <input type="text">
           <input type="submit">
        </form>
    </body>
</html>