<head>
        <style>
            h1{
                text-align: center;
                margin-top: 100px;
            }
            h4{
                text-align: center;
            }
            a{
                margin-left: 230px;
            }
        </style>
</head>

<body>
    <form action='/one' method='post'>
        <h1>ALL NUMBERS AND NO PLAY MAKES JACK A DULL BOY</h1>
        <h4>{{num}}Lets play a game. Pick a number between 1 and 100</h4>
    </form>
    <a href="/two"><button>NO WAY BRUHHH</button></a>
    <a href="/three"><button>START OVAAAA</button></a>
</body>